.gone {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}
.mlr2 {
  margin-left: 1em;
  margin-right: 1em;
}
div.row {
  width: 100%;
  position: relative;
  min-height: 0;
  display: flex;
  flex-flow: row nowrap;
}
div.row > div.col {
  margin-left: 1%;
  position: relative;
  flex: 0 0 32%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
div.col > * {
  margin: 0.5em auto;
}
div.row.center {
  justify-content: center;
}
div.wrapper {
  flex: 1;
  position: relative;
  min-height: 0;
  width: 100%;
  padding: 0 0.5em 0.5em 0.5em;
}
div.wrapper:empty::before {
  content: "Click to select image";
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
div.wrapper:empty::after {
  content: "";
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  position: absolute;
  border: 2px dashed black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
div.wrapper > img {
  user-select: none;
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
div.wrapper > canvas {
  user-select: none;
  position: absolute;
  z-index: 1;
}

button.icon-button {
  width: 48px;
  height: 48px;
}

.icon-buttons {
  border: 0;
  padding: 0;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translate(0, -50%);
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  /* Webkit */
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  /* Firefox */
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
